# Ignore secret files
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

.vscode/

__init__.py

base_raw.json
earnings_filtered.json
earnings_raw.json
news_filtered.json
news_raw.json
troubleshooting.md

